header {
  @include margin(1em null);
	
	h1 {
		@include padding(5px);
		display: inline;
		text-transform: uppercase;
		border: 5px solid $secondary-background-color;
		line-height: 0;
	}
}

article {
  @include padding(null 2em);
}

footer {
  li {
  	display: inline;
  }
}