.bio {
	background-color: $base-background-color;
	
	.container {
	  @include align-items(center);
	  @include display(flex);
	  @include justify-content(center);
		
		@include outer-container;

		height: 100vh;
	}
	
	article {
		@include span-columns(8);
		
		a {
			color: $secondary-background-color;
			border-bottom: 1px solid $secondary-background-color;
		}
		
		h1, p {
			color: $light-gray;
		}
	}
	
	header {
	  @include margin(1em null);
	
		h1 {
			@include padding(5px);
			display: inline;
			text-transform: uppercase;
			border: 5px solid $secondary-background-color;
			line-height: 0;
		}
	}
	
	section {
		@include padding(null 2em);
	}
	
	footer {
		ul {
			text-align: center;
		}
		
		li {
			@include padding(1.5em);
			display: inline;
			
			a {
				border: none;
			}
		}
		
		.iconic {
			width: 3.5em !important;
			height: 3.5em !important;
			
			* {
				@include iconic-color($light-gray);
			}
		}
		
		a:hover {
			.iconic-globe .iconic-globe-land-mass {
				@include iconic-color(#80B23C);
			}
			
			.iconic-envelope * {
				@include iconic-color(#c1b49a);
			}
			
		  .iconic-social-twitter * {
		    @include iconic-color(#00b4f3);
		  }
			
		  .iconic-social-github * {
		    @include iconic-color(#333);
		  }
		}
	}
}