.bio {
<<<<<<< HEAD
	background-color: $base-background-color;
	
	.container {
		@include media($medium-screen-up) {
		  @include align-items(center);
		  @include display(flex);
		  @include justify-content(center);
			
			height: 100vh;
		}
	  
		@include outer-container;
	}
	
	article {
		@include media($medium-screen-up) {
			@include span-columns(8);
		}
		
		a {
			color: $secondary-background-color;
			border-bottom: 1px solid $secondary-background-color;
		}
		
		h1, p {
			color: $light-gray;
		}
	}
	
	@include media($medium-screen-up) {
		header {
			@include margin(1em null);
			
			h1 {
				@include padding(5px);
				display: inline;
				text-transform: uppercase;
				border: 5px solid $secondary-background-color;
				line-height: 0;
			}
		}
		
		section {
			@include padding(null 2em);
		}
	}
	
	footer {
		ul {
			text-align: center;
		}
		
		li {
			@include padding(1.5em);
			display: inline;
			
			a {
				border: none;
			}
		}
		
		.iconic {
			width: 3.5em !important;
			height: 3.5em !important;
			
			* {
				@include iconic-color($light-gray);
			}
		}
		
		a:hover {
			.iconic-globe .iconic-globe-land-mass {
				@include iconic-color(#80B23C);
			}
			
			.iconic-envelope * {
				@include iconic-color(#c1b49a);
			}
			
		  .iconic-social-twitter * {
		    @include iconic-color(#00b4f3);
		  }
			
		  .iconic-social-github * {
		    @include iconic-color(#333);
		  }
		}
	}
=======
  background-color: $base-background-color;
  
  .container {
    @include outer-container;
    
    padding-bottom: 1em;
    margin-bottom: 1em;
    
    @include media($medium-screen-up) {
      @include align-items(center);
      @include display(flex);
      @include justify-content(center);
      
      height: 100vh;
    }
  }
  
  article {
    @include span-columns(12);
    
    @include media($medium-screen-up) {
      @include span-columns(8);
      max-width: 650px;
    }
    
    a {
      color: $secondary-background-color;
      border-bottom: 1px solid $secondary-background-color;
    }
    
    h1, p {
      color: $light-gray;
    }
  }
  
  header {
    @include margin(1em null);
    text-align: center;
    
    @include media($medium-screen-up) {
      text-align: left;
    }
    
    h1 {
      @include padding(5px);
      display: inline;
      text-transform: uppercase;
      border: 5px solid $secondary-background-color;
      line-height: 0;
      font-size: 1em;
      
      @include media($small-screen-up) {
        font-size: $base-font-size;
      }
    }
  }
  
  section {
    @include padding(null 2em);
  }
  
  footer {
    ul {
      text-align: center;
    }
    
    li {
      @include padding(.5em);
      
      @include media($medium-screen-up) {
        @include padding(1.5em);
      }
      
      display: inline;
      
      a {
        border: none;
      }
    }
    
    .iconic {
      width: 1.5em !important;
      height: 1.5em !important;
      
      @include media($medium-screen-up) {
        width: 2em !important;
        height: 2em !important;
      }
      
      @include media($large-screen-up) {
        width: 3.5em !important;
        height: 3.5em !important;
      }
      
      * {
        @include iconic-color($light-gray);
      }
    }
    
    a:hover {
      .iconic-globe .iconic-globe-land-mass {
        @include iconic-color(#80B23C);
      }
      
      .iconic-envelope * {
        @include iconic-color(#c1b49a);
      }
      
      .iconic-social-twitter * {
        @include iconic-color(#00b4f3);
      }
      
      .iconic-social-github * {
        @include iconic-color(#333);
      }
    }
  }
>>>>>>> develop
}