.projects {
  background-color: $secondary-background-color;
  
  .container {
    @include outer-container;
    @include padding(25px);
  }
  
  article {
    @include span-columns(12);
  }
  
  .bullets {
    $icon-bullet-size: 2.5em;
    
    @include display(flex);
    @include flex-wrap(wrap);
    
    margin-bottom: $base-line-height;
    margin: 1em;
    overflow: auto;
    padding: 0;
    
    @include media($medium-screen-up) {
      .bullet {
        @include flex-basis(50%);
        @include flex-grow(1);
      }
    }
    
    @include media($xlarge-screen-up) {
      .bullet {
        @include flex-basis(33%);
        @include flex-grow(1);
      }
    }
    
    @include media($fucking-huge-screen-up) {
      .bullet {
        @include flex-basis(25%);
        @include flex-grow(1);
      }
    }
    
    .bullet-content {
      width: 95%;
      margin: em($base-line-height) auto;
    }
    
    .bullet-links {
      img {
        @include size(1em);
      }
    }
    
    h2 {
      width: 100%;
      border-bottom: 1px solid transparentize($base-font-color, 0.8);
      display: inline-block;
      font-size: $icon-bullet-size / 2.5;
      margin: 0 0 ($icon-bullet-size / 6) 0;
      padding-top: $icon-bullet-size / 7;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    
    li {
      list-style: none;
      display: inline;
      padding-right: 1em;
      
      span {
        width: 16px;
        text-align: center;
      }
    }
    
    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }
    
    img {
      max-width: 100%;
    }
  }
}