<div id="projects" class="wrapper projects">
	<div class="container">
		<article>
			<header>
				<h1>Myles Braithwaite's GitHub Archive Projects</h1>
			</header>
			
			<section id="js-github-archive-projects"></section>
			{{!> 02_projects }}
		</article>
	</div>
</div>
